body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.hide-display {
  display: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #959595;
  padding: 30px 0;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}

.btns button {
  width: 300px;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

#btn-clear {
  background: red;
}

#btn-clear:hover {
  color: brown;
  background: rgba(0, 0, 0, 0);
}

#btn-predict {
  background: #46b004;
}
#btn-predict:hover {
  color: #46b004;
  background: rgba(0, 0, 0, 0);
}

.show-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 200px;
}

.canvas-draw-wrap {
  margin-bottom: 20px;
}

.canvas-chart-wrap {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  background: #fff;
}

#canvas_draw {
  border: solid 1px #fff;
}

#view_img {
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  min-height: 200px;
  border: solid 1px #fff;
}

.prediction-txt-wrp {
  height: 20px;
}

.prediction-txt {
  color: #fff;
}

.prediction-txt > b {
  color: #fff;
}

.input-img-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
}

.input-label-img {
  display: flex;
  cursor: pointer;
  transition: 0.1s;
}

.input-img-icon {
  color: #fff;
  transform: rotate(90deg);
  font-style: normal;
  font-size: 52px;
  transition: 0.1s;
}

.input-label-img {
  color: white;
}
.input-img {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
